body {
  padding: 0;
  margin: 0;
}

.cube {
  height: 360px;
  position: relative;
  margin: 50px auto;
  width: 360px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  text-align: center;
}

.cube a {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.face {
  background-color: rgb(50, 50, 50);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  opactiy: 0.7;
  height: 360px;
  width: 360px;
  position: absolute;
}

.one  {
  background-color: rgb(242, 24, 25);
}

.two {
  background-color: rgb(235, 41, 158);
}

.three {
  background-color: rgb(252, 209, 22);
}

.four {
  background-color: rgb(44, 45, 213);
}

.five {
  background-color: rgb(125, 105, 181);
}

.six {
  background-color: rgb(22, 226, 38);
}

